In [1]:
mylist = [1,2,3,4]

In [2]:
mylist.append(5)

In [3]:
mylist

[1, 2, 3, 4, 5]

In [4]:
mylist.pop(4)

5

In [5]:
mylist

[1, 2, 3, 4]

In [6]:
help(mylist.insert)                #help function to get the documentaion on the object

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [8]:
# Documentation : https://docs.python.org/3/

In [9]:
#FUnctions

In [10]:
# def name_of_function():
   



#syntax of the function use lowercase with underscores when naming a function

In [13]:
def demo_function(name):                    #basic python function with return 
    return ('Hello'+ name)

name1 = demo_function('Aditya')

print(name1)

HelloAditya

In [21]:
def first_function(name="Aditya"):       #name varible can have a default value 
    print(f"Hello {name}")

In [22]:
first_function('Akhil')                #Calling a function needs the paranthesis

Hello Akhil

In [23]:
first_function()

Hello Aditya

In [25]:
def add_num(num1,num2):
    return num1+num2

In [26]:
result = add_num(10,20)

In [27]:
print(result)

30

In [32]:
def add_result(a,b):
    print(a+b)

In [33]:
result1 = add_result(1,2)

3

In [34]:
result1

In [35]:
print(result1)

None

In [36]:
def return_result(a,b):
    return(a+b)

In [37]:
result2 = return_result(10,20)

In [38]:
result2

30

In [39]:
type(result2)

int

In [40]:
type(result1)

NoneType

In [41]:
# print only prints but don't save the output, return allows to save the variable

In [42]:
def print_return_result(a,b):
    return(a+b)
    print(a+b)

In [43]:
print_return_result(10,20)

30

In [44]:
result = print_return_result(10,20)

In [45]:
result

30

In [46]:
# FUnctions with logic

In [47]:
def even_check(number):
    result = number % 2 == 0
    return result

# or 

def even_check(number):
    return number % 2 == 0

In [48]:
even_check(20)

True

In [49]:
# RETURN true if any number inside a list is true

In [54]:
def check_even(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True
    else:
        pass
    
    return False

In [55]:
check_even([1,3,5])

False

In [56]:
check_even([2,4,5])

True

In [57]:
def check_even(num_list):
    
    even_numbers = []
    
    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
    else:
        pass
    
    return even_numbers

In [58]:
check_even([2,4,5])

[2, 4]

In [59]:
#Tuple unpacking

In [116]:
stock_prices=[('AAPL',200),('GOOG',250),('MSFT',100)]

In [117]:
for items in stock_prices:
    print(items)

('AAPL', 200)
('GOOG', 250)
('MSFT', 100)

In [118]:
for key,values in stock_prices:
    print(key)

AAPL
GOOG
MSFT

In [119]:
for key,values in stock_prices:
    print(values)

200
250
100

In [120]:
for key,values in stock_prices:
    print(values*1.1)

220.00000000000003
275.0
110.00000000000001

In [121]:
def top_price(stock_prices):
    
    stockprice_max = 0
    ticker_symbol= ''
    
    for ticker, stockprice in stock_prices:
        if stockprice > stockprice_max:
            stockprice_max = stockprice
            ticker_symbol = ticker
        else:
            pass
            
    
    return(stockprice_max,ticker_symbol)

In [122]:
topprice= top_price(stock_prices)

In [123]:
top_price(stock_prices)

(250, 'GOOG')

In [77]:
price,ticker = top_price(stock_prices)         #touple unpacking

In [78]:
price

300

In [79]:
ticker

'MSFT'

In [80]:
# Interaction between functions

In [81]:
example = [1,2,3,4,5,6]

In [82]:
from random import shuffle

In [84]:
shuffle(example)

In [85]:
example

[5, 3, 6, 1, 4, 2]

In [88]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [95]:
result = shuffle_list(example)

In [93]:
shuffle_list(example)

[3, 2, 6, 4, 1, 5]

In [96]:
result

[1, 2, 5, 4, 3, 6]

In [97]:
mylist = ['', '', 'O']

In [99]:
shuffle_list(mylist)

['O', '', '']

In [124]:
def player_guess():
    
    guess= input("Pick a number: 0,1,2")
    
    return int(guess)

In [125]:
player_guess()

Pick a number: 0,1,21

1

In [102]:
myindex = player_guess()

Pick a number: 0,1,21

In [103]:
myindex

1

In [106]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print("Correct Guess!")
    else: 
        print("wrong guess!")
        print(mylist)

In [113]:
#INITIAL LIST
mylist = ['', '', 'O']

#SHUFFLE LIST
mix_list = shuffle_list(mylist)

#USER GUESS 
guess = player_guess()

#CHECK GUESS
check_guess(mix_list,guess)

Pick a number: 0,1,22
Correct Guess!

In [114]:
check_guess(mix_list,guess)

Correct Guess!

In [115]:
check_guess(mix_list,guess)

Correct Guess!

In [130]:
x = input("enter a number")
x = int(x)
def cheking_even(x):
    if x%2 == 0:
        return "its even"
    else:
        return "its odd"

enter a number1

In [131]:
cheking_even(1)

'its odd'

In [132]:
even = cheking_even(7)

In [133]:
even

'its odd'

In [138]:
def myfunc(*args):
    return sum(args)

myfunc(1,2,3,4)

10

In [169]:
def myfunc(*args):                           #function to seprate even odd numbers to a list
    even_list = []
    odd_list = []
    for num in args:
        if num%2==0:
            even_list.append(num)
        else:
            odd_list.append(num)    
    return odd_list, even_list

In [170]:
result = myfunc(1,2,3,4)

In [171]:
result

([1, 3], [2, 4])

In [168]:
odd

NameError: name 'odd' is not defined

In [172]:
def myfunc(x):
    out = []
    for i in range(len(x)):
        if i%2==0:
            out.append(x[i].lower())
        else:
            out.append(x[i].upper())
    return ''.join(out)

In [176]:
myfunc('wordwo')

'wOrDwO'

In [174]:
out

NameError: name 'out' is not defined

In [189]:
def myfunc(x):
    out = []
    for index,word in enumerate(x):
        if index%2==0:
            out.append(x[index].lower())
        else:
            out.append(x[index].upper())
    return ''.join(out)

In [191]:
myfunc('word')

'wOrD'

In [192]:
# *args and kargs

In [210]:
def my_func(a,b):
    return ((a*b)*0.5)

In [211]:
my_func(1,10)

5.0

In [202]:
def my_func(*args):
    return sum(args)

In [203]:
my_func(1,10,2,3,4,5,5,6,67,7,8,8)

126

In [242]:
def my_func(*args):
    my_list=[]
    for item in args:
        my_list.append(item)
    
    return my_list

In [243]:
my_func(1,10,2,3,4,5,5,6,67,7,8,8)

[1, 10, 2, 3, 4, 5, 5, 6, 67, 7, 8, 8]

In [287]:
def my_func(**kwargs):                       #**kwargs id for dictionaries
    if 'fruit' in kwargs:  
        return (f"The name is {kwargs['fruit']}")
    else:
        return ('I cant find any fruit')

In [288]:
my_func(fruit='apple')

'The name is apple'

In [295]:
def my_func(*args,**kwargs):  
    print('The price of {} is ${}'.format(kwargs['fruit'],args[0]))

In [296]:
my_func(20,fruit='apple')

The price of apple is $20

In [298]:
def myfunc(name= ''):
    print(f'My name is {name}')

In [301]:
myfunc(1)

My name is 1

In [304]:
def myfunc(name:str, age:int):                              #force function variable to use data type 
    print(f'My name is {name} and age is {age}')
    
myfunc('Aditya',25)

My name is Aditya and age is 25

In [305]:
def is_less(c,d):
    if c > d:
        return True
    elif c <= d:
        return False
    else: 
        pass
    
is_less(1,2)

False

In [359]:
def my_func(x):
    z=[]
    for y in range(len(x)):
        if y%2==0:
            z.append(x[y].lower())
        else:
            z.append(x[y].upper())
            
    return ''.join(z)

In [360]:
my_func('aditya')

'aDiTyA'

In [351]:
len('string')

6

In [372]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return (min(a,b))
    elif a%2==1 or b%2==1:
        return (max(a,b))
    else:
        pass

In [373]:
lesser_of_two_evens(1,2)

2

In [374]:
lesser_of_two_evens(2,4)

2

In [458]:
def animal_crackers(text):
    x = text.split()
    if x[0][0] == x[1][0] :
        return True
    elif x[0][0] != x[1][0] :
        return False
    else:
        pass

In [460]:
animal_crackers('Levelheaded Llama')

True

In [427]:
x= test.split()

if x[0][0] == x[1][0]:
    print()

AttributeError: 'NoneType' object has no attribute 'split'

In [461]:
def makes_twenty(n1,n2):
    if sum(n1,n2) == 20 or (n1,n2)==20:
        return True
    pass

In [462]:
makes_twenty(20,10)

TypeError: 'int' object is not iterable

In [815]:
def paper_doll(text):
    z=[]
    for x in text:
        z.append(x*3)
    
    return ''.join(z)

In [817]:
paper_doll('Hello')

'HHHeeellllllooo'

In [867]:
def blackjack(*args):
    if sum(args) <= 21:
        return sum(args)
    elif sum(args) > 21 and args == 11:
        return sum(args)-10
    elif sum(args) > 21:
        return 'BUST'
    else:
        pass

In [893]:
def blackjack(*args):
    for x in args:
        if sum(args) > 21 and x == 11:
            return sum(args)-10
    if sum(args) <= 21:
        return sum(args)
    elif sum(args) > 21:
        return "BUST"
    else:
        pass

In [896]:
blackjack(9,9,1)

19

In [869]:
def check_args_for_11(*args):

In [870]:
print(check_args_for_11(1, 2, 3, 11, 4))

True

In [887]:
def blackjack(*args):
    total = sum(args)
    num_aces = args.count(11)
    for i in range(num_aces):
        if total > 21:
            total -= 10
    if total <= 21:
        return total
    else:
        return 'BUST'

In [888]:
blackjack(9,9,11)

19

In [935]:
def summer_69(arr):
    z = []
    for index,num in enumerate(arr) :
            if arr[index] == 6 and arr[index+1] == 9:
                arr[index] == 0 
                arr[y] == 0
                return sum(arr)
            elif arr[index] == range(6,10) :
                return sum(arr == range(0,6))
            else:
                pass

In [936]:
summer_69([1, 3, 5, 6])

In [964]:
def summer_69(arr):
    z = []
    for index,num in enumerate(arr) :
        y = range(6,10)
        if arr[index] == y:
            z.append(arr[y])
            return sum(z)
    if arr[index] != range(6,10):
        arr[index] == range(0,6) == y
        return sum(y)
    else:
        pass

In [965]:
summer_69([1, 3, 5])

30

In [1076]:
def summer_69(arr):
    for index,num in enumerate(arr) :
        if arr[index] in range(6,10):
            arr[index] = 0
    return sum(arr)

In [1078]:
summer_69([2, 1, 6, 9, 11])

14

In [987]:
y = range(6,10)
print (y)

range(6, 10)

In [981]:
y

[range(6, 10)]

In [983]:
range(6,10)

TypeError: 'tuple' object cannot be interpreted as an integer

In [1193]:
def spy_game(nums):
    y = [0,0,7]
    z = []
    for x in nums:
        if x in y:
            z.append(x)
    if z == y:
        return True
    else:
        return False

In [1196]:
spy_game([1,2,0,4,5,7])

False

In [1164]:
0 in [1,2,0,0,4,5,7]

True

In [98]:
def count_primes(num):
    z=[]
    for x in range(2,num+1):
        for i in range(2,x):
            if (x%i)==0:
                break
        else:
            z.append(x)
    return len(z)

In [99]:
count_primes(200)

46

In [270]:
def print_big(letter):
    dict= {'a':['  *  ', ' * * ', '*****', '*   *', '*   *'],'b':['*****','*   *','*****','*   *','*****']}
    z = []
    for x in letter:
        if x == dict[x]:
            break
    for items in dict[x]:
        print (items)

In [271]:
 print_big('a')

  *
 * *
*****
*   *
*   *

In [120]:
dict['a'][]

SyntaxError: invalid syntax (3516227499.py, line 1)

In [272]:
# Lambda expersions

In [274]:
def square(num):
    return (num**2)          #MAP function

In [275]:
square(5)

25

In [276]:
my_nums=[1,2,3]

In [279]:
for item in map(square,my_nums):
    print(item)

1
4
9

In [280]:
list(map(square,my_nums))

[1, 4, 9]

In [292]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring

In [293]:
names = ['Aditya', 'SAM', 'Eric']

In [294]:
 list(map(splicer,names))

['EVEN', 'SAM', 'EVEN']

In [295]:
# Filter function

In [296]:
def check_even(num):
    return num%2 == 0

In [298]:
nums = [1,2,3,4,5]

In [299]:
filter(check_even, nums)

In [300]:
list(filter(check_even, nums))

[2, 4]

In [302]:
for item in filter(check_even, nums):
    print(item)

2
4

In [303]:
def square(num): return (num**2)

In [304]:
square(121)

14641

In [308]:
square = lambda num : num**0.5

In [310]:
square(144)

12.0

In [312]:
list(map(lambda num: num**2, nums))

[1, 4, 9, 16, 25]

In [313]:
list(filter(lambda num: num%2==0, nums))

[2, 4]

In [314]:
names

['Aditya', 'SAM', 'Eric']

In [315]:
list(map(lambda name:name[0], names))

['A', 'S', 'E']

In [319]:
list(map(lambda name:name[::-1], names))

['aytidA', 'MAS', 'cirE']

In [320]:
# Nested statements and scope

In [321]:
x = 25

def printer():
    x=50 
    return x

In [324]:
print(printer())

50

In [325]:
#lambda num: num**2

In [330]:
name = 'ThIS IS A GLOBAL STRING'

def greet():
    
    name = 'SAMMY'
    
    def hello():
        name = 'Local'
        print("Hello\t"+name)
    
    hello()

greet()

Hello	Local

In [335]:
x = 50

def printer(x):
    print(f'This id {x}')

In [337]:
printer(x)

This id 50

In [338]:
my_list = [1,1,1,1,2,2,3,3,3,3,4,5]

In [379]:
len(my_list)

12

In [342]:
print(my_list.sort())

None

In [348]:
def vol(rad):
    for x in rad:
        return (4.0/3.0)*(22/7)* x**3

In [356]:
vol(8)

2145.523809523809

In [354]:
vol = lambda x : (4.0/3.0)*(22/7)* x**3

In [355]:
vol(2)

33.52380952380952

In [357]:
def ran_check(num,low,high):
    return num in range(low,high)

In [359]:
ran_check(5,6,7)

False

In [361]:
def ran_check(num,low,high):
    if num in range(low,high):
        print (f'{num} is in the range between {low} and {high}')
    else:
        print (f'{num} is in not the range between {low} and {high}')

In [362]:
ran_check(5,6,7)

5 is in not the range between 6 and 7

In [403]:
def up_low(s:str):
    up = []
    low = []
    for x in s:
        if x.islower():
            low.append(x)
        elif x.isupper():
            up.append(x)
        else:
            pass
    print(f'No. of Upper case characters :{len(up)}\nNo. of lower case characters :{len(low)}')

In [404]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

No. of Upper case characters :4
No. of lower case characters :33

In [405]:
s.split()

['Hello', 'Mr.', 'Rogers,', 'how', 'are', 'you', 'this', 'fine', 'Tuesday?']

In [378]:
up

[]

In [398]:
a = ' '
a.isupper()

False

In [407]:
my_list = [1,1,1,1,2,2,3,3,3,3,4,5]

new_set = set(my_list)

new_list = list(new_set)

In [408]:
new_list

[1, 2, 3, 4, 5]

In [409]:
def unique_list(lst):
    new_set = set(lst)
    new_list = list(new_set)
    print(new_list)

In [410]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [415]:
def multiply(numbers): 
    result = 1 
    for x in numbers:
        result = result * x
    return  result

In [416]:
multiply([1,2,3,-4])

-24

In [420]:
multiply = lambda (y : x = 1(y))

SyntaxError: invalid syntax (611704320.py, line 1)

In [418]:
multiply([1,2,3,-4])

TypeError: can't multiply sequence by non-int of type 'list'

In [426]:
def palindrome(s):
    result = s.replace(' ','')
    for x in result:
        output = result[::-1]
        return result == output

In [429]:
palindrome('h e l l e h')

True

In [461]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    strng = str1.replace(' ','')
    strng1 = strng.lower()
    output = "".join(sorted(set(strng1)))
    return output == alphabet

In [464]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [433]:
# https://betterprogramming.pub/a-visual-guide-to-set-comparisons-in-python-6ab7edb9ec41

In [460]:
ispangram = "The quick brown fox jumps over the lazy dog"

strng = ispangram.replace(' ','')
strng1 = strng.lower()
print("".join(sorted(set(strng1))))

abcdefghijklmnopqrstuvwxyz

In [451]:
thequickbrownfoxjumpsoverthelazydog

NameError: name 'thequickbrownfoxjumpsoverthelazydog' is not defined

In [2]:
from functools import reduce

lst =[47,11,42,13]
reduce(lambda x,y: x+y,lst)

113

In [4]:
from functools import reduce

lst =[47,48,42,53]
reduce(lambda a,b: a if (a>b) else b,lst)

53

In [6]:
a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12]

list(map(lambda x,y,z: x+y-z,a,b,c))

[-3, -2, -1, 0]

In [9]:
list(zip(a,b,c))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [11]:
lstl =range(20)

In [16]:
lst =range(20)
lst2 = list(filter(lambda x: x%2==0,lst))
lst3 = list(filter(lambda x: x%2==1,lst))

In [17]:
lst2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [18]:
lst3

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [19]:
print("List numbers:", *lst3, sep='\n ')

List numbers:
 1
 3
 5
 7
 9
 11
 13
 15
 17
 19