In [3]:
if 1>3:
    print("It's true")

In [5]:
hungry = True 

if hungry:
    print("I'm Hungry")

I'm Hungry

In [6]:
hungry = False 

if hungry:
    print("I'm Hungry")

In [7]:
hungry = True 

if hungry:
    print("I'm Hungry")
else:
    print("I'm not Hungry")

I'm Hungry

In [8]:
hungry = False 

if hungry:
    print("I'm Hungry")
else:
    print("I'm not Hungry")

I'm not Hungry

In [9]:
loc = 'Bank'

if loc=='Auto':
    print('This is auto shop')
else: 
    print('Sorry! this is a Bank')

Sorry! this is a Bank

In [10]:
loc = 'Bank'

if loc=='Auto':
    print('This is auto shop')
elif loc=='Bank': 
    print('This is a Bank')
else

SyntaxError: expected ':' (2822148640.py, line 7)

In [12]:
loc = 'Store'

if loc == 'Auto':
    print('This is auto shop')
elif loc == 'Bank': 
    print('This is a Bank')
elif loc == 'Store': 
    print('This is a Store')
else:
    print('This is Bar!')

This is a Store

In [14]:
name = 'Samy'
if name == 'Sam':
    print('Hello Sam')
else:
    print("what is your name")

what is your name

In [15]:
# For loops

In [17]:
list=[1,2,3,4,5,6]
for x in list:
    print(x)

1
2
3
4
5
6

In [23]:
list=[1,2,3,4,5,6]
for x in list:
    print('hello')

hello
hello
hello
hello
hello
hello

In [29]:
for x in list:
    if x % 2 == 0:                                           #loop to separate even or odd number
        print(f'These are even numbers: {x}')
    else:
        print(f'These are odd numbers: {x}')

These are odd numbers: 1
These are even numbers: 2
These are odd numbers: 3
These are even numbers: 4
These are odd numbers: 5
These are even numbers: 6

In [34]:
list_sum = 0

for num in list:                                          # Add every number in the list to a number 
    list_sum = list_sum + num
    
print(list_sum)

21

In [35]:
list_sum = 0

for num in list:                                          # Add every number in the list to a number 
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21

In [37]:
string = 'hello'

for _ in string:
    print('hello')

hello
hello
hello
hello
hello

In [39]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [40]:
len(tup)

3

In [41]:
my_list= [(1,2),(3,4),(4,6)]

In [42]:
len(my_list)

3

In [43]:
for x in my_list:
    print(x)

(1, 2)
(3, 4)
(4, 6)

In [44]:
for (a,b) in my_list:
    print(a)
    print(b)                           #unpack touples

1
2
3
4
4
6

In [54]:
d = {'k1':1, 'k2':2, 'k3':3}                 # By default prints only keys in the dictionary
for item in d:
    print (item)

k1
k2
k3

In [48]:
for item in d.items():                # to print all items
    print (item)

('k1', 1)
('k2', 2)
('k3', 3)

In [49]:
for key,value in d.items():
    print(value)                    # to print only values by touple unpacking

1
2
3

In [50]:
for value in d.values():           # to print only values  
    print (value)

1
2
3

In [ ]:
for item in d.keys():               # to print only values 
    print (item)

In [55]:
# while loops

In [1]:
x = 0

while x < 5 :
    print(f'the current value of x is {x}')
    #x = x + 1 (or)
    x += 1
else: 
    print("X is not less than 5")

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
X is not less than 5

In [5]:
x = [1,2,3]

for item in x :
    
    pass

print('End of the statement')

End of the statement

In [4]:
mystring = 'sammy'

for letter in mystring:
    if letter == 'm':
        continue
    print (letter + 'a')

sa
aa
ya

In [6]:
x = 0

while x < 5 :
    x += 1
    if x == 2:
        continue
    print(f'the current value of x is {x}')

the current value of x is 1
the current value of x is 3
the current value of x is 4
the current value of x is 5

In [7]:
# useful operators in python

In [10]:
for num in range(10):
    print(num)                            # prints number except 10

0
1
2
3
4
5
6
7
8
9

In [11]:
for num in range(3,10):
    print(num)                            # prints number except 10

3
4
5
6
7
8
9

In [14]:
for num in range(0,10,2):                  # print number by step size 2
    print(num)

0
2
4
6
8

In [15]:
range(0,10,2)              #range is generator

range(0, 10, 2)

In [17]:
list(range(0,10,2))            # cast it to a list

[0, 2, 4, 6, 8]

In [22]:
index_count = 0                          

for letter in 'abcde':
    print (f'AT index {index_count} the letter is {letter}')
    index_count += 1

AT index 0 the letter is a
AT index 1 the letter is b
AT index 2 the letter is c
AT index 3 the letter is d
AT index 4 the letter is e

In [23]:
index_count = 0                          
word = 'abcde'
for letter in word:
    print (word[index_count])
    index_count += 1

a
b
c
d
e

In [24]:
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [31]:
word = 'abcde'
for index,letter in enumerate(word):           #enumarate take the letter and add index to it
    print(index)

0
1
2
3
4

In [32]:
word = 'abcde'
for index in enumerate(word):           #enumarate take the letter and add index to it
    print(index)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [33]:
mylist1 = [1,2,3,4]                                   # zip to listes into single
mylist2 = [2,3,4,5]

for item in zip(mylist1, mylist2):
    print(item)

(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [34]:
list(zip(mylist1, mylist2))            # to zip the two list into one list

[(1, 2), (2, 3), (3, 4), (4, 5)]

In [35]:
2 in [1,2,3]                            # using in function find value in list whether lt exists or not

True

In [36]:
'a' in 'world'

False

In [37]:
'mykey' in {'mykey':5}

True

In [40]:
d= {'mykey':5}

5 in d.values()

True

In [41]:
mylist1 = [1,2,3,4]

In [42]:
min(mylist1)          #to list min value in the list

1

In [43]:
max(mylist1)            #to list max value in the list

4

In [44]:
from random import shuffle

In [46]:
shuffle(mylist1)                           # shuffle the list

In [47]:
mylist1

[3, 4, 1, 2]

In [48]:
from random import randint

In [49]:
randint(mylist1)                           # take randon integer the list

TypeError: Random.randint() missing 1 required positional argument: 'b'

In [50]:
name = input('Whats your name?')

Whats your name?Aditya

In [51]:
name

'Aditya'

In [53]:
type(name)

str

In [54]:
# input always takes the value as a string

In [55]:
mystring = 'hello'

In [57]:
mylist=[]

for letter in mystring:
    mylist.append(letter)

In [58]:
mylist

['h', 'e', 'l', 'l', 'o']

In [59]:
mylist=[letter for letter in mystring]                 #list comprehesion

In [60]:
mylist

['h', 'e', 'l', 'l', 'o']

In [61]:
word= 'Aditya'

In [62]:
mylist = [x for x in word]

In [63]:
mylist

['A', 'd', 'i', 't', 'y', 'a']

In [64]:
mylist = [num for num in range(0,11,2)]           #flatten function

In [65]:
mylist

[0, 2, 4, 6, 8, 10]

In [75]:
mylist = [num for num in range(0,11) if num%2==0]     # if else loop in flatten statement

In [76]:
mylist

[0, 2, 4, 6, 8, 10]

In [77]:
celcius = [20, 30, 40, 50]

farhenit = [((9/5)*temp +32) for temp in celcius]

In [78]:
farhenit

[68.0, 86.0, 104.0, 122.0]

In [79]:
celcius = [20, 30, 40, 50]

for temp in celcius:
    farhenit.append(((9/5)*temp +32))

In [80]:
farhenit

[68.0, 86.0, 104.0, 122.0, 68.0, 86.0, 104.0, 122.0]

In [82]:
results = [x if x%2==0 else 'OOD' for x in range(0,11)]

In [83]:
results

[0, 'OOD', 2, 'OOD', 4, 'OOD', 6, 'OOD', 8, 'OOD', 10]

In [85]:
mylist = []

for x in [2,4,6]:
    for y in [100, 200, 300]:
        mylist.append(x*y)

In [86]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [87]:
mylist = [x*y for x in [2,4,6] for y in [100,200,300]]

In [88]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [89]:
st = 'Print only the words that start with s in this sentence'

In [113]:
for x in st.split():
    if x[0] == 's' :
        print(x)

start
s
sentence

In [114]:
range(0,10,2)

range(0, 10, 2)

In [115]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [116]:
for x in range(0,10,2):
    print(x)

0
2
4
6
8

In [135]:
mylist=[]
for x in range(0,50):
    if x%3 == 0:
        mylist.append(x)
print(mylist)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [136]:
for x in st.split():

SyntaxError: incomplete input (3743020051.py, line 1)

In [138]:
for x in st.split():
    if len(x)%2 == 0:
        print(x)

only
that
with
in
this
sentence

In [144]:
list(range(0,10,1))

TypeError: 'list' object is not callable

range(1, 100)

In [154]:
for x in range(1,100):
    if (x%3 == 0) and (x%5 == 0):
        print('FIZZBUZZ')
    elif x%5 == 0:
        print('BUZZ')
    elif x%3 == 0:
        print('FIZZ')
    else:
        print(x)

1
2
FIZZ
4
BUZZ
FIZZ
7
8
FIZZ
BUZZ
11
FIZZ
13
14
FIZZBUZZ
16
17
FIZZ
19
BUZZ
FIZZ
22
23
FIZZ
BUZZ
26
FIZZ
28
29
FIZZBUZZ
31
32
FIZZ
34
BUZZ
FIZZ
37
38
FIZZ
BUZZ
41
FIZZ
43
44
FIZZBUZZ
46
47
FIZZ
49
BUZZ
FIZZ
52
53
FIZZ
BUZZ
56
FIZZ
58
59
FIZZBUZZ
61
62
FIZZ
64
BUZZ
FIZZ
67
68
FIZZ
BUZZ
71
FIZZ
73
74
FIZZBUZZ
76
77
FIZZ
79
BUZZ
FIZZ
82
83
FIZZ
BUZZ
86
FIZZ
88
89
FIZZBUZZ
91
92
FIZZ
94
BUZZ
FIZZ
97
98
FIZZ

In [199]:
st = 'Create a list of the first letters of every word in this string'

mylist = [x[0] for x in st.split()]

In [200]:
mylist

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']